<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <img src="assets/images/foto_files/1_bs4uUvwaEN_t3vx_G9dLMA.png" alt="Obrazek" class="img-fluid rounded-circle" style="max-width: 300px;">
      <h1 class="mt-4">Welcome to the application for TSW!</h1>
      <p class="lead">It will be a wonderful adventure in Angular World.</p>
      <nav class="mt-4">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/" class="btn btn-primary">Main Page</a></li>
          <li class="list-inline-item"><a href="/wolneLektury" class="btn btn-primary">Wolne Lektury</a></li>
          <li class="list-inline-item"><a href="/backend" class="btn btn-primary">Nasza Biblioteka</a></li>
        </ul>
      </nav>
      <p class="mt-4">Author: Damian Schygulla</p>
    </div>
  </div>
</div>

